.home-container{
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-form-container{
  margin: 20px 0px 0px 0px;
}

.login-register-link-container{
  margin: 20px 0px 0px 0px;
  cursor: pointer;
}

.login-form{
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.name-input{
  margin: 20px 0px 10px 0px;
}

.email-input{
  margin: 20px 0px 10px 0px;
}

.password-input{
  margin: 20px 0px 20px 0px;
}